body {
  overflow: hidden;
}
#startup_form {
  background-color: pink;
  padding: 20px;
  max-width: 80%;
  margin: auto;
  text-align: center;
}
.startuptext {
  margin: 5px 0 0 0;
}
.inputer {
  margin: 10px;
  width: 39px;
}
.itemx , .itemy {
  width: 20px;
}
.colorpicker {
  margin: 10px;
}


.modal {
  position: fixed;
  display: none;
  top:10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  background: rgba(100,100,100,0.8);
}
/********************game and board************************************/
.game {
  perspective: 100px;
  margin: auto;
  position: relative;
}

.board {
  position: relative;
  width: 100%;
  height: 0;
  background: blue;
  z-index: -2;
  border: 3px solid black;
}

.base {
  z-index: -1;
  position: absolute;
  margin: 0 auto;
  height: 0;
  /*
  width: 50%;
  padding-top: 50%;
  padding-top + width +left + top should be specified during creation*/
}

.wall {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: gray;
  border:1px solid pink;
  position: absolute;
  z-index: 0;
}

.concrete {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: black;
  padding: 20%;
  position: absolute;
  z-index: 0;
}

.zombie {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: red;
  border:1px solid black;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.bombmain {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: sepia;
  border:10px solid black;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
.wallpass {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: green;
  border:1px solid black;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.bomb {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: aqua;
  border-radius: 30%;
  border:1px solid black;
  position: absolute;
  z-index: 2;
}
.endgame {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: blue;
  border-radius: 10%;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}
/**********************top bar related styles***************************/

.topbar {
  direction: ltr;
  font-family: english;
  position: relative;
  margin: auto;
  background: red;
  border: 5px double black;
  max-width: 600px;
  margin-bottom: 1px;
}

.passedtime , .numberofzombies {
    width: 43%;
    display: inline-block;
    padding: 8px;
}


.persian {
  direction: rtl;
  font-family: persian;
}
/************************font-faces************************************/
@font-face {
  font-family: english;
  src:  url("font-en/OpenSans-Regular.woff"),
        url("font-en/OpenSans-Regular.ttf") ,
        url("font-en/OpenSans-Regular.eot"),
        url("font-en/OpenSans-Regular.woff2"),
        url("font-en/OpenSans-Regular.svg");
  font-size: 100px;
}

@font-face {
  font-family: persian;
  src:  url("font-fa/BYekan.woff"),
        url("font-fa/BYekan.ttf"),
        url("font-fa/BYekan.eot");
}

@media screen and (max-height: 300px) {
  .topbar {
    float: left;
  }
  .passedtime , .numberofzombies{
    display: inline;
  }
}







/************************** character styles******************************/
@keyframes walk {
    0%  {top:80%}
    50% {top:84%}
    100% {top:80%}
}

.girlhair {
    border-radius: 50% 50% 0 0;
    width:100%;
    height: 70%;
    background: linear-gradient(to bottom,rgb(66, 23, 23),rgb(140, 62, 62));
    position: absolute;
    z-index: 98;
}

.girlhead {
    width: 50%;
    height: 30%;
    background-color: bisque;
    border-radius: 0 0 100% 100%;
    left: 25%;
    top: 30%;
    z-index:100;
    position: relative;
    /*box-shadow: 10px 10px -15px bisque ,-10px 30px 0 -15px bisque;*/
}

.girleyes {
    position: absolute;
    width: 10%;
    height: 30%;
    border-radius: 50%;
    top: 10%;
    left: 20%;
    background: black;
    /*box-shadow: 22px 0 black;  */
}

.girleyes.right {
    left: 70%;
}

.girlmouth {
    width: 45%;
    height:20%;
    border-radius: 0 0 50% 50%;
    background: red;
    left: 30%;
    top: 60%;
    position: absolute;
}


.girlhand {
    position: absolute;
    left:23%;
    height: 20%;
    width: 5%;
    top:55%;
    background: bisque;
    z-index: 99;
}
.girlhand.right {
    left:72%;
}
.girlbody {
    position: absolute;
    width: 44.6%;
    height: 35%;
    /*border-right: solid transparent;
    border-left: 25px solid transparent;
    border-right-width: 25%;
    border-bottom: 50px solid red;*/
    background: red;
    top:50%;
    left:28%;
    z-index: 99;
}

.girlfoot {
    width:10%;
    height: 15%;
    background: black;
    position: absolute;
    left: 33%;
    top:85%;
    /*box-shadow: 20px 0 black;*/
    z-index: 96;
    animation: walk;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.girlfoot.right {
    left:58%;
}

.girl {
    position: absolute;
    left: 10%;
    top: 0;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}
.wrapper {
    margin: auto;
    text-align: center;
    width:100px;
    height: 100px;
}

.hidden {
    visibility: hidden;
}

.rightgoing , .leftgoing {
    transform: rotate(270deg);
}


.topgoing .girlhead {
    display: none;
}
.topgoing .girlbody {
    z-index: 97;
}
.topgoing .girlhand {
    z-index: 97;
}
.leftgoing .girlhead {
    display: none;
}
.leftgoing .girlbody {
    z-index: 97;
}
.leftgoing .girlhand {
    z-index: 97;
}
